################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/obj
/Event-Driven-Minima/.vs/Event-Driven-Minima
/Event-Driven-Minima/obj
/Gateway/obj
/OrderService/obj
/ReadModelSync/obj
/Common/bin/Debug/net9.0
/Gateway/bin/Debug/net9.0
/Gateway/bin/Debug/net9.0/runtimes/linux-arm64/native/alpine-librdkafka.so
/OrderService/bin/Debug/net9.0
/ReadModelSync/bin/Debug/net9.0
/Event-Driven-Minima/Event-Driven-Minima.slnLaunch.user
/Event-Driven-Minima/.vs/ProjectEvaluation
